<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@bookmark_org" />
    <%= if assigns[:meta_attrs], do: meta_tags(assigns[:meta_attrs]) %>

    <title><%= if assigns[:title], do: assigns[:title] %></title>

    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>
  <body style="background: #1e1e1e">
    <a href="/">
      <img
        src="/images/bookmark-logo-white.png"
        style="max-width:33%; max-height: 55px; padding: 11px"
      />
    </a>

<!--
    <section style="position: absolute; right: 0; top: 0; font-size: 13px; padding-top: 10px; padding-right: 21px; background: #1e1e1e; color: white; max-width: 66%;  ">
      <%= if @current_user do
        render("_wallet.html", %{:amount => assigns[:balance] && floor(assigns[:balance]), :username => @current_user.username})
      end %>
      <%= render("_user_menu.html", assigns) %>
    </section>
-->
    <%= @inner_content %>

<!--
    <br /><br />
    <div align="center" style="background: black; color: white; padding: 5px 0">
      Want to learn more? Join the Bookmark community on
      <a href="https://t.me/+j0rQv3_6C5pjOWYx">Telegram</a>
      and follow us on <a href="https://twitter.com/bookmark_org">Twitter</a>
    </div>
-->    
  </body>
</html>
