<html style="height: 100%;">
  <head>
    <meta name="viewport" content="width=device-width, minimum-scale=0.1">
    <title> <%= @title %> </title>
  </head>
  <body style="margin: 0px; background: #0e0e0e; height: 100%" data-new-gr-c-s-check-loaded="14.1112.0" data-gr-ext-installed="">
    <%= img_tag(
          @image_url,
          style: "display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in; max-width: 100%;"
        )
    %>
  </body>
</html>
