<%= if @current_user do %>


  <div class="welcome-back">
    <h1 class="display-box-headline">Welcome back, <%= link("@" <> @current_user.username, to: "/@" <>  @current_user.username) %> </h1>
  </div>
<!-- User box -->
  <div class="display-box">
    <div style="margin-bottom: 13px">
      <h1 class="display-box-headline">Your balance is ⚡ <%= round(@balance) %> satoshi</h1>
    </div>
    <div class="donate-subheadline">
      <%= link("Profile", to: "/@" <>  @current_user.username, class: "go-button") %>
      <a class="go-button" href="/deposit">Deposit</a>
      <a class="go-button" href="/withdraw">Withdraw</a>
      <a class="go-button" href="/bulk_archives">Bulk archives</a>
      <%= link("Log out", class: "go-button", to: Routes.user_session_path(@conn, :delete), method: :delete) %>
    </div>
  </div>
<% end %>
<!-- Add Archive -->
  <div class="display-box">
    <div>
      <h1 class="display-box-headline">Archive a link 🔗</h1>
    </div>
    <div class="donate-subheadline">

      <%= if !(@current_user) do %>
            <div class="bullet">No login required <em><small><span style="color: gray">anonymously archive a link</span></small></em></div>
      <% end %>
    </div>
    <div class="archive-input" OnSubmit="showSpinner()">
      <%= form_tag("/archive", method: :post) %>
      <input
        class="add_archive_input"
        style="background-color: white; color: black; height: 66px; margin-bottom: 23px; "
        type="url"
        name="url"
        id="url"
        placeholder="https://example.com (paste link here)"
        pattern="https?://.*"
        size="30"
        required
      />

      <small>Automatic free GPT-3 summary of every archive</small>
    </div>
    <button class="donate-button" type="submit">Add archive</button>
  </div>



<!-- Create account -->
<%= if !(@current_user) do %>
  <div class="display-box">
    <div>
      <img src="/images/white-globe.png" style="float: right; width: 233px ">
      <h1 class="display-box-headline">Join the Bookmark revolution</h1>
    </div>
    <div class="donate-subheadline">
      <div class="bullet">✔️ Custom profile <em><small><span style="color: gray">bookmark.org/@username</span></small></em></div>
      <div class="bullet">✔️ Bulk archives <em><small><span style="color: gray">archive unlimited URLs</span></small></em></div>
      <div class="bullet">✔️ AI summarizer <em><small><span style="color: gray">integrated with GPT-3 from OpenAI</span></small></em></div>
      <div class="bullet">✔️ Lightning web wallet <em><small><span style="color: gray">receive bitcoin payments</span></small></em></div>
      <div class="bullet">✔️ Nostr identity <em><small><span style="color: gray">import from Nostr, post to Nostr</span></small></em></div>
    </div>
    <div class="donate-action">
      <a href="/users/register" class="go-button">Create an account</a> or <%= link("login", to: Routes.user_session_path(@conn, :new)) %> to your existing account
    </div>
  </div>
<% end %>

<!-- Recent Archives -->
<div class="display-box">
  <h1 class="display-box-headline">Recently archived</h1>
  <table>
    <tr>
      <%= for a <- @archives do %>
        <td>
          <%= link(
            img_tag(
              Routes.static_path(@conn, "/archive/archive/" <> a.name <> "/screenshot.png"),
              class: "thumbnail"
            ),
            to: "/archive/" <> a.name
          ) %>
        </td>
      <% end %>
    </tr>
  </table>
</div>

<!-- Donate -->
<div class="display-box">
  <div>
    <h1 class="display-box-headline"><img class="small-logo" src="/images/bookmark-icon-transparent.png">Donate to Bookmark</h1>
  </div>
  <div class="donate-subheadline">
    ⚡ Send sats to support independent internet archives.<br>
    <em><small><span style="color: gray">Your donations pay for bandwidth, compute, storage, and funding of bounties for open source developers that work on this project.</span></small></em>
  </div>
  <div class="donate-action">
    <a href="/deposit" class="go-button">Donate now</a>
  </div>
</div>

<div id="loading" class="loading"></div>
<script>
  var loadingDiv = document.getElementById('loading');
  var url = document.getElementById('url');
  console.log(url);
  function showSpinner() {
    if (url.value != "") {
      loadingDiv.style.visibility = 'visible';
    }
    return false;
  }
</script>
