<section>
  <!-- Donate -->
  <hr />
  <div class="archive_patron">🌐</div>
  <h2>Become a patron and supporter</h2>
  Archives cost money. Your support ensures important pieces of history, commerce and culture are preserved. Based on an average archive size of 10 MB, our cost model is roughly:
  <ul>
    <li>25 satoshi per 1 archive-year</li>
    <li>250 satoshi per 10 archive-years</li>
    <li>2,500 satoshi per 100 archive-years</li>
    <li>25,000 satoshi per archive-millennium</li>
  </ul>
  If you are like us, and you would like an archive that will be around 1000 years from now, please help support this vision.
  <br /><br /><strong>
    <a style="text-decoration: underline" href="/wallet">Become a patron today</a>
  </strong>
  and give generously to ensure future generations continue to have access to important pieces of digital history and culture.
  <br /><br />
</section>
