<head>
  <title>@<%= @tweet_username %>: <%= @tweet_text %></title>
</head>

<div class="white-bg-panel">
  <img src="/images/twitter-logo.png" height="66px" style="padding: 11px;" />
  <div style="border: 3px solid black; width: 90%; padding: 22px; border-radius: 10px; font-size: 22px">
    <%= img_tag(@tweet_user_profile_image_url) %><br />
    <%= @tweet_user_full_name %><br />
    <strong>@<%= @tweet_username %></strong>:
    "<%= @tweet_text %>"<br /><br /> Likes 👍 <%= @tweet_likes %>&nbsp;&nbsp;&nbsp;
    Quotes 💬 <%= @tweet_quotes %>&nbsp;&nbsp;&nbsp;
    Replies ↩️ <%= @tweet_replies %>&nbsp;&nbsp;&nbsp;
    Retweets 🔁 <%= @tweet_retweets %>&nbsp;&nbsp;&nbsp;
  </div>

  <div style="font-size: 12px; padding: 22px; color: grey">
    <strong>Bookmark archive hash: <%= @tweet_archive_hash %></strong>
    <br /> tweet id: <%= @tweet_id %><br /> author id: <%= @tweet_author_id %><br />
    posted on: <%= @tweet_source %><br /> lang: <%= @tweet_lang %><br />
    as retrieved via Twitter API on <%= @timestamp %>
  </div>
</div>
