<div class="display-box" align="center">
  <h1 class="display-box-headline"><%= @amount %> sats to @<%= @conn.assigns.current_user.username %></h1>
  <%= img_tag(@qr, class: "qr") %>
  <div class="qrbox">
    <%= @invoice %>
  </div>
</div>
